.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/*.beam
rel/example_project
_build/*
.concrete/DEV_MODE
.rebar
rebar.lock

priv/assets/*
priv/controllers/*
priv/views/*
!priv/assets/.gitkeep
!priv/controllers/.gitkeep
!priv/views/.gitkeep
