{erl_opts, [debug_info]}.

{deps, [
    {psycho,   {git, "https://github.com/gar1t/psycho", {ref, "6335b9c27559f417e613372776edbea760720559"}}},
    {jsone,    {git, "https://github.com/sile/jsone", {tag, "1.4.7"}}}
]}.

{relx, [{release, {wacko, "0.1.0"},
        [psycho, jsone, wacko, compiler]},

        {dev_mode, true},
        {include_erts, true},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {paths, ["./priv"]},

        {extended_start_script, true}]}.

{shell, [
    {apps, [wacko]}
]}.
